<nav class="sidebar">
    <a href="#" title="Logo" class="logo">
        <img src="./assets/images/logo.svg" alt="Logo">
    </a>
    <ul>
        <li>
            <a href="javascript:void(0)" routerLink="/dashboard" title="Dashboard" routerLinkActive="active" class=""
                (click)="removeMenu()">
                <span class="nav-link-content" data-aos="fade-up">
                    <i>
                        <img src="./assets/images/dashboard-default-ic.svg" alt="Dashboard">
                        <img src="./assets/images/dashboard-active-ic.svg" alt="Dashboard">
                    </i>
                    <span class="nav-label">Dashboard</span>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="#" title="Calendar" routerLinkActive="active" class=""
                (click)="removeMenu()">
                <span class="nav-link-content" data-aos="fade-up" data-aos-delay="100">
                    <i>
                        <img src="./assets/images/calendar-default-ic.svg" alt="Calendar">
                        <img src="./assets/images/calendar-active-ic.svg" alt="Calendar">
                    </i>
                    <span class="nav-label">Calendar</span>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="/innerpage" title="Pages" routerLinkActive="active" class=""
                (click)="removeMenu()">
                <span class="nav-link-content" data-aos="fade-up" data-aos-delay="200">
                    <i>
                        <img src="./assets/images/pages-default-ic.svg" alt="Pages">
                        <img src="./assets/images/pages-active-ic.svg" alt="Pages">
                    </i>
                    <span class="nav-label">Pages</span>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="#" title="Help" routerLinkActive="active" class=""
                (click)="removeMenu()">
                <span class="nav-link-content" data-aos="fade-up" data-aos-delay="300">
                    <i>
                        <img src="./assets/images/help-default-ic.svg" alt="Help">
                        <img src="./assets/images/help-active-ic.svg" alt="Help">
                    </i>
                    <span class="nav-label">Help</span>
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" routerLink="#" title="Mails" routerLinkActive="active" class=""
                (click)="removeMenu()">
                <span class="nav-link-content" data-aos="fade-up" data-aos-delay="400">
                    <i>
                        <img src="./assets/images/email-default-ic.svg" alt="Mails">
                        <img src="./assets/images/email-active-ic.svg" alt="Mails">
                    </i>
                    <span class="nav-label">Mails</span>
                </span>
            </a>
        </li>
    </ul>
</nav>