<header class="header">
    <button mat-icon-button aria-label="Search" class="toggle-btn" (click)="toggleMenu()">
        <mat-icon>
            <img src="./assets/images/menu-ic.svg" alt="Menu">
        </mat-icon>
    </button>
    <div class="search-wrapper">
        <mat-form-field appearance="outline">
            <input type="text" placeholder="Search Here...." aria-label="Search" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <button mat-icon-button aria-label="Search Button" matPrefix>
                <mat-icon>
                    <img src="./assets/images/search-ic.svg" alt="Search">
                </mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="heading-right">
        <button mat-icon-button aria-label="Search" class="search-btn" (click)="toggleSearch()">
            <mat-icon>
                <img src="./assets/images/search-white-ic.svg" alt="Search">
            </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notification" class="notifications-button">
            <mat-icon matBadge="15" matBadgeColor="warn">
                <img src="./assets/images/notifications-ic.svg" alt="Notification">
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
                <span>Notification 1</span>
            </button>
            <button mat-menu-item>
                <span>Notification 2</span>
            </button>
            <button mat-menu-item>
                <span>Notification 3</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="beforeMenu" aria-label="Profile Menu" class="profile-btn">
            <img src="./assets/images/user-profile.png" alt="User Profile">
            <span>Alexander Rusk</span>
            <img src="./assets/images/down-arrow-ic.svg" alt="Down Arrow">
        </button>
        <mat-menu #beforeMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>
                    <img src="./assets/images/user-ic.svg" alt="Profile">
                </mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>
                    <img src="./assets/images/setting-ic.svg" alt="Setting">
                </mat-icon>
                <span>Setting</span>
            </button>
            <a mat-menu-item routerLink="/login" title="Logout">
                <mat-icon>
                    <img src="./assets/images/logout-ic.svg" alt="Logout">
                </mat-icon>
                <span>Logout</span>
            </a>
        </mat-menu>
    </div>
    <div class="search-overlay" (click)="removeSearchbar()"></div>
</header>